/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    color: #131113;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    font-size: 14px;
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

.title-container {
    height: 15vh;
    padding: 10px 0px 0px 10px;
    background-color: #131113;
    justify-content: left;
    display: flex;
}

.main-title {
    color: #ffefef;
}

/* Sign in Page Styles */

.centered-form {
    background: linear-gradient( #141414, #444455);
    width: 100vw;
    height: 70vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

.sign-up-container {
    display: flex;
    justify-content: right;
    align-items: right;
}

.sign-up {
    font-size: 12px;
    padding-top: 5px;
    justify-content: right;
    align-items: right;
    float: right;
}

.sign-up-link {
    color: #7C5CBF;
    cursor: pointer;
    font-size: 11px;
    float: right;
}

.sign-up-link:hover {
    color: #6b47b8;
}

.footer {
    height: 15vh;
    background: linear-gradient(#6b47b8, #6a46b7);
}